# Ensure exact versions are saved in package.json
save-exact=true

# Enforce the Node.js and npm versions specified in package.json
engine-strict=true

# Custom global package installation directory
# prefix=~/.npm-global

# Minimum audit severity level
audit-level=high

# Set the log level
loglevel=warn

# Generate package-lock.json
package-lock=true

# Force npm to use the local cache
# offline=true

# Display progress bars for install commands
progress=true

# Disable strict SSL for custom registries with self-signed certificates
# strict-ssl=false

# cache=path/to/cache
